<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,22}}</string>
                <key>offset</key>
                <string>{-295,177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{24,22}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{20,22}}</string>
                <key>offset</key>
                <string>{-265,178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,11},{20,22}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{20,22}}</string>
                <key>offset</key>
                <string>{-236,179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,10},{20,22}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{20,22}}</string>
                <key>offset</key>
                <string>{-204,178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,11},{20,22}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{20,22}}</string>
                <key>offset</key>
                <string>{-168,178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,11},{20,22}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{24,22}}</string>
                <key>offset</key>
                <string>{-135,177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,12},{24,22}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{20,22}}</string>
                <key>offset</key>
                <string>{-105,177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,12},{20,22}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>walk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{20,22}}</string>
                <key>offset</key>
                <string>{-76,178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,11},{20,22}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>walk_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{20,22}}</string>
                <key>offset</key>
                <string>{-41,178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,11},{20,22}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{20,22}}</string>
                <key>offset</key>
                <string>{-8,178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,11},{20,22}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walksdadcas.png</string>
            <key>size</key>
            <string>{231,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ae19865a58275efa944342cae5d77c7:96209c1b528c6aaa25df1b775da9ea9d:f279213a09451d6a90d9acc8ef06e2a5$</string>
            <key>textureFileName</key>
            <string>walksdadcas.png</string>
        </dict>
    </dict>
</plist>
